setup.sh
*.pyc
*.pcm
*.d
*.so
*_Dict.cxx
AnalyzerTools/obj/
Analyzers/obj/
CommonTools/obj/
DataFormats/obj/
KinematicFitter/obj/
lib/
PlotConfiguration/DYcontrol/2018/Plot_DY
PlotConfiguration/DYcontrol/2018/Output_MetFt_L_v2_MuMu_v1_DY
PlotConfiguration/ISR/2016/Output_MetFt_L_v2_LL_v1_ISR_v1_ISR/
PlotConfiguration/ISR/2016/Plot_ISR/
Combinato/setUp.sh

